body {
  background-color: #cccecf;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  box-sizing: border-box;
  margin: 20px auto 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.container .title {
  display: block;
  margin-top: 15px;
  font-size: 48px;
}
.container .container_inputbox {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
}

.container .container_inputbox .inputbox_inputitem {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 5px;
}
.container .container_select {
  margin-top: 15px;
}
.renderContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px auto 0 auto;
  align-items: center;
  width: 900px;
  background-color: bisque;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.container .container_addButton {
  border-radius: 2px;
  border: none;
  margin-left: 5px;
  background-color: #70c8ff;
}
.container_addButton:hover {
  background-color: yellow;
}
.container_addButton:active {
  background-color: red;
}
.shopping-list {
  background-color: bisque;
}
.renderInput {
  display: flex;
  justify-content: space-between;
  margin: 20px auto 0 auto;
  align-items: center;
  width: 900px;
  background-color: bisque;
  border-radius: 10px;
}
